/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* Basic styling for the app */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

.container {
  display: flex;
  height: 100vh;
}

.left,
.right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #242424;

}

.left {
  max-width: 450px;
  /* border-right: 1px solid #ccc; */
  margin: 20px 10px 20px 20px;
}

.right {
  display: flex;
  flex-direction: column;
  /* border-left: 1px solid #ccc; */
  margin: 20px 20px 20px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  align-items: center;
}

.header button {
  height: fit-content;
  background-color: #dc2626;
}

.chat-end-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.chat-end-msg span {
  font-size: 30px;
  color: #6b6b6b;
}

.file-list {
  margin-top: 20px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  margin: 10px 0;
}

.messages {
  flex: 1;
  overflow-y: auto;
  border-bottom: 1px solid #535353;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 4px;
  /* background-color: #505050; */
  background-color: #353535;
  margin: 2px 0;
}

.output-message {
  padding: 10px;
  border-radius: 4px;
  /* background-color: #537984; */
  background-color: #88e9ff;
  color: black;
  margin-bottom: 24px;
}

.files {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 4px;
  background-color: #b5e5f0;
  color: black;
  height: auto;
  max-height: 500px;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #575757;
  background-color: #424242;
  border-radius: 4px;
  color: white;
  outline: none;
}

.input-container input::placeholder{
  color: #c0c0c0;
}

button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: grey !important;
}

.input-container button:hover {
  background-color: #0056b3;
}

.input-container button:hover :disabled,
.input-container button:hover [disabled]
{
  background-color: grey !important;
}


.uploaded-file {
  font-size: 13px;
  border-radius: 5px;
  padding-left: 2px;
  cursor: pointer;
}

.uploaded-file.selected {
  background-color: #909090;
  /* Light grey background for selected file */
  border: 1px solid #333;
  /* Dark border for selected file */
}

#choose-file-input {
  padding: 8px;
  font-size: 14px;
}